.auth-form {
  width: 25rem;
  max-width: 80%;
  margin: 5rem auto;
}

.form-control {
  display: block;

  label,
  input {
    width: 100%;
    margin-bottom: 1rem;
  }

  label {
    margin-bottom: 0.5rem;
  }
}

@media (max-width: 500px) {
  .auth-page {
    margin-top: 7rem;
  }
}
