.auth-form {
  width: 25rem;
  max-width: 80%;
  margin: 5rem auto;
}

.form-control label,
.form-control input {
  display: block;
  width: 100%;
}

.form-control label {
  margin-bottom: 0.5rem;
}

.form-control {
  margin-bottom: 1rem;
}

@media (max-width: 500px) {
  .auth-page {
    margin-top: 7rem;
  }
}
